<%= form_tag("/create",{multipart: true}) do %>
<div class="form-floating">
    <textarea name="content" id="ask_question" cols="10" rows="30"class="form-control" required></textarea>
    <label for="ask_question">質問を入力</label>
    
</div>
<p>画像</p>
<input type="file" name="image" class="bi bi-folder2">
<br>
<select class="form-select" aria-label="Default select example" name="subject" required>
    <option selected disabled value="">教科を選んでください</option>
    <option value="math">数学</option>
    <option value="japanese">国語</option>
    <option value="science">理科</option>
    <option value="society">社会</option>
    <option value="engliish">英語</option>
    <option value="it">情報</option>
  </select>
  <select class="form-select" aria-label="Default select example" name="grade" required>
    <option selected disabled value="">学年</option> 
    <option value="中一">中一</option>
    <option value="中二">中二</option>
    <option value="中三">中三</option>
    <option value="高一">高一</option>
    <option value="高二">高二</option>
    <option value="高三">高三</option>
  </select>

<input type="submit" value="投稿する" class="btn btn-success">
<%end%>