<div class="form-floating">
    <textarea name="" id="ask_question" cols="10" rows="30"class="form-control"></textarea>
    <label for="ask_question">質問を入力</label>
</div>
<a href="#" class="btn btn-success">投稿する</a>