

<h1><%= @question.content %></h1>
<div class="form-floating">
    <textarea id="text-box" cols="10" rows="30"class="form-control"><%= @answer %></textarea>
    <label for="test-box">答える</label>
</div>
<h1 style="color:red;"><%= @check %></h1>
<h1>答え　<%= @question.answer %></h1>
