<div>
    <h1><%= @title %></h1>
</div>
<br>
<input type="button" class="btn btn-warning" value="解決済み">

<input type="button" class="btn btn-info" value="未解決">

<input type="button" class="btn btn-success" value="問題">
<br>
  <table class="table table-striped">
    <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">content</th>
          <th scope="col">subject</th>
          <th>答える</th>
        </tr>
      </thead>
      <tbody>
        <% @borads.each do |borad| %>
        <tr>
          
          <td scope="row"><%= borad.id %></td>
          <td><%= borad.content %></td>
          <td><%= borad.subject %></td>
          <td><a href="#">答える</a></td>
        </tr>
        <%end%>
      </tbody>
  </table>