<h1 class="board_main_h1">教科</h1>
<ul class="nav justify-content-center">
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/content/math">数学</a>
</li>
<li  class="nav-item">
    <a class="nav-link active" aria-current="page" href="/content/japanese">国語</a>
</li>
<li  class="nav-item">
    <a class="nav-link active" aria-current="page" href="/content/science">理科</a>
</li>
<li  class="nav-item">
    <a class="nav-link active" aria-current="page" href="/content/society">社会</a>
</li>  
<li  class="nav-item">
    <a class="nav-link active" aria-current="page" href="/content/english">英語</a>
</li>
<li  class="nav-item">
    <a class="nav-link active" aria-current="page" href="/content/it">情報</a>
</li>
</ul>
<a href="/add_set_question" class="btn btn-warning">問題</a>
<a href="/add_ask_question" class="btn btn-success">質問</a>

