<h1 class="board_main_h1">教科</h1>
<ul class="nav justify-content-center">
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/content/1">数学</a>
</li>
<li  class="nav-item">
    <a class="nav-link active" aria-current="page" href="/content/2">国語</a>
</li>
<li  class="nav-item">
    <a class="nav-link active" aria-current="page" href="/content/3">理科</a>
</li>
<li  class="nav-item">
    <a class="nav-link active" aria-current="page" href="/content/4">社会</a>
</li>  
<li  class="nav-item">
    <a class="nav-link active" aria-current="page" href="/content/5">英語</a>
</li>
</ul>
<a href="/add_set_question" class="btn btn-warning">問題</a>
<a href="/add_ask_question" class="btn btn-success">質問</a>

