<h1>学年</h1>
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">中一</a>
    </li>
    <li  class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">中二</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">中三</a>
    </li>
    <li  class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">高一</a>
    </li>  
    <li  class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">高二</a>
    </li>
    <li  class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">高三</a>
    </li>
    </ul>
<h1>教科</h1>
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">数学</a>
    </li>
    <li  class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">国語</a>
    </li>
    <li  class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">理科</a>
    </li>
    <li  class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">社会</a>
    </li>  
    <li  class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">英語</a>
    </li>
    </ul>
<a href="/question_for_ai">飛ぶ</a>