<p class="flash"><%= flash[:notice] %></p>
<h1>StudyMate</h1>
<a href="/signup" class="btn btn-primary">新規</a>
<a href="/login" class="btn btn-warning">ログイン</a>
<a href="/logout" class="btn btn-danger">ログアウト</a>