<h1>ログイン</h1>
<%= form_tag("/login_user") do %>
<p>email</p>
<input type="email" name="email" required>
<p>password</p>
<input type="password" name="password" required>
<br>
<input type="submit" value="ログイン">
<% end %>