<div class="menu signup">
    <h1>サインアップ</h1>
    <p style="color:red;"><%= flash[:notice] %></p>
    <%= form_tag("/create_user") do %>
    <p>名前</p>
    <input name="name" required value="<%= @name %>">
    <p>email</p>
    <input name="email" type="email" required value="<%= @email %>">
    <p>password</p>
    <input name="password" type="password" required>
    <p>もう一度パスワードを入れてください</p>
    <input name="password_check" type="password" required>
    <br>
    <input type="submit" value="新規" class="btn btn-primary">
    <%end%>
</div>
