<h1>編集</h1>
<%= form_tag("/update/#{@user.id}",{multipart: true}) do %>
<h2>画像</h2>
<input type="file" name="image">
<h2>名前</h2>
<input value="<%= @user.name %>" name="name">
<h2>メール</h2>
<input value="<%= @user.email %>" name="email">
<br>
<input type="submit" value="変更" class="btn btn-success">
<% end %>