body{
    margin:0%;
    padding-top: 50px;
}
textarea {
	resize: none; /* テキストエリアを固定 */
}
.header{
    width: 100%;
    background-color:rgb(80, 80, 255);
    display: flex;
    margin: 0%;
    position: fixed; /* ヘッダーを固定する */
    top: 0;
    left: 0;
    height: 50px;
}
.li{
    /* headerの文字 */
    margin-right: 30px;
    margin-top: 5px;
    font-size: 120%;
    font-weight: bold;/* 文字を濃く */
    float:left; /* 横並び　*/
    list-style: none; /* ぽつ消し*/
}
.link-secondary{
    /* headerの文字(link) */
    color:white;
    text-decoration: none; /* 下の線を消す */
}
.title{
    /* studymateの文字(header) */
    font-size:150%;
    font-weight: bold; /* 文字を濃く */
    color: black;
    margin-right: 900px;
}
.top{
    /* 上に行くボタン(board#content...) */
    position: fixed; /* ヘッダーを固定する */
    top: 93%;
    right: 2%;
    font-size: 30px;
}
.top :hover{
    opacity: 30%; /* 透明にする */
}

.board_main_h1{
    /* 教科の文字(board#home)　*/
    margin-left:20px;
    color:black;
}
.home_li{
    /* 教科選択(board#home) */
    list-style: none;
}
.flash{
    /* ログイン通知(home#home)　*/
    font-size:100px;
    height: 100%;
    width: 100%;
    color:red;
}


.title-box{
    /* コメントのボックス(board#answer) */
    font-size: 100%;
    border-radius: 5px; /* 丸み　*/
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1); /* 影　*/
    margin: 10px;
    padding-left: 10px;
}
.title-span{
    /* コメントの投稿した名前(board#answer) */
    font-size: 10px ;
    margin: 0%;
}
.user-text-box{
    /* テキストボックス(home#user) */
    font-size: 50px;
    border: 2px solid rgb(0, 0, 0); 
    background-color: rgba(0,0,0,0.2); 
}
.img{
    /* ユーザーの写真(board#content) */
}