<!DOCTYPE html>
<html>
  <head>
    <title>StudyApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body>
    <header class="header">
      <ul>
      <li class="li" >home</li>
      <li class="li" >board</li>
      <li class="li" >study</li>
      </ul>
    </header>
    
    <%= yield %>
  </body>
</html>
